{% extends "base.html" %}

{% block content %}
<div class="mb-8 flex items-center">
    <a href="{{ url_for('blog.posts') }}" class="text-blue-500 hover:text-blue-600">
        ← Back to Blog
    </a>
</div>

<div>
  <h2 class="text-3xl font-bold mb-2">Adminland</h2>
  <p class="text-sm italic">
    "When you're a carpenter making a beautiful chest of drawers, you're not going to use a piece of plywood on the back, even though it faces the wall and nobody will ever see it" - Steve Jobs
  </p>

  <section class="bg-white shadow-sm p-4 py-6 rounded my-12">
    <header class="flex justify-between mb-4 px-4">
      <h3 class="text-xl">Messages</h3>
      <a href="{{ url_for('admin.new_message') }}" class="px-2 py-1 text-center bg-blue-500 text-white hover:bg-blue-600 rounded">
        New Message
      </a>
    </header>

    <table class="w-full">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
        {% for message in messages %}
          <tr class="{% if loop.index is even %}bg-gray-50{% endif %} hover:bg-gray-100 transition-colors">
            <td class="whitespace-normal break-words py-4 text-sm text-gray-900 px-4">
              {{ message.content }}
            </td>
            <td class="whitespace-nowrap pl-3 py-4 text-sm text-gray-500">
              {{ message.created_at | relative_datetime }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
{% endblock %}
